/* 이달의 책 소개 안내문 */
#monthBookTitle {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin-top: 220px;
  padding-bottom: 20px;
  height: 120px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 3px solid #ddd;
}
#monthBookTitle a{
  font-size: 50px;
  font-weight: bold;
}

/* 책 리스트 */
/* 이 영역은 자바스크립트에서 처리한다. */
#bookList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding-bottom: 10px;
  justify-content: center;
  align-items: flex-start;
}

/* 중복 사용을 위한 클래스 처리 */
.book-item {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #ddd;
  padding: 20px;
  background-color: #fff;
}

/* 책 이미지 영역 */
#bookImage {
  flex: 0 0 200px;
}

/* 책 이미지 */
#bookCover {
  width: 100%;
  height: auto;
}

/* 책 관련 내용 적는 부분 */
#bookText {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 20px;
}

/* 책 제목 */
#title .title-link {
  text-decoration: none;
  color: inherit; /* 기존 색상 유지 */
}

#title .title-link:hover {
  text-decoration: underline;
}

/* 저자 */
#bookArtist {
  margin-bottom: 10px;
}

/* 가격 */
#bookPrice {
  color: #eb217c;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

/* 배송 안내 */
#bookDelivery {
  color: red;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
}

/* 책 설명 */
#bookContent {
  margin-top: 20px;
}

/* 책 장바구니, 구매 영역 */
#bookButton {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-left: 20px;
}

/* 장바구니와 구매 둘 다 처리를 위한 방법 */
#bookButton button {
  border: 0;
  cursor: pointer;
  width: 120px;
  height: 40px;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* 장바구니 색상 */
.bookSoppingCard {
  background-color: #228B22;
}

/* 구매 색상 */
.bookBuy {
  background-color: #ff8c00;
}

/* 버튼 효과 */
/* 호버 상태 */
.bookSoppingCard:hover, .bookBuy:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 클릭 상태 */
.bookSoppingCard:active, .bookBuy:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
