.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* Increase width further */
  padding: 50px; /* Increase padding */
  margin-left: auto;
  margin-right: auto;
}

.book-info {
  display: flex;
  margin-top: 200px;
  margin-bottom: 40px;
  justify-content: center;
}

.book-image img {
  width: 600px; /* Increase image size further */
  height: auto;
  margin-right: 50px;
}

.book-details {
  margin-left: 50px; /* Increase margin */
}

.book-details h1 {
  font-size: 40px; /* Increase font size further */
  color: #333;
}

.book-details p {
  margin: 15px 0; /* Increase margin */
  font-size: 22px; /* Increase font size */
}

.price {
  margin-top: 30px; /* Increase margin */
}

.discount-price {
  color: red;
  font-weight: bold;
  font-size: 24px; /* Increase font size */
}

.delivery {
  margin-top: 30px; /* Increase margin */
}

.ratings {
  margin-top: 30px; /* Increase margin */
}

.rating {
  font-weight: bold;
  font-size: 24px; /* Increase font size */
}

.buttons {
  margin-top: 40px; /* Increase margin */
}

.btn {
  background-color: #228B22;
  color: white;
  border: none;
  padding: 20px 25px; /* Increase padding */
  margin-right: 20px; /* Increase margin */
  cursor: pointer;
  font-size: 20px; /* Increase font size */
}

/* 호버 상태 */
.btn:hover, .btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* 클릭 상태 */
.btn:active, .btn:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.notice {
  margin-top: 40px; /* Increase margin */
  color: red;
  font-size: 22px; /* Increase font size */
}

.additional-info {
  margin-top: 50px;
}

.additional-info h2, .additional-info h3 {
  color: #333;
  font-size: 30px; /* Increase font size */
  margin-bottom: 20px;
}

.additional-info p {
  margin: 10px 0;
  font-size: 20px; /* Increase font size */
  line-height: 1.6;
}

.writeName{
  font-size: 25px;
  font-weight: bold;
}
